@CHARSET "UTF-8";

a, a:link {
  color: white;
  	outline: none;

}
a:visited {
  color: white;
}

.size {
	font-size: 50px;
	text-align: center;
}

.align-center {
	text-align: center;
	vertical-align: middle;
}

.large {
	font-size: 1.5em;
	line-height: 0.5em;
}

.no-padding {
	padding: 0;
	margin: 0;
}

.card-widget {
	background: #fff;
	padding: 0;
	position: relative;
}

.card {
	margin: 30px;
}

.widget-left-application, .widget-left-allocation, .widget-left-cancel,
	.widget-left-inquiry, .widget-left-accident {
	color: #fff;
	height: 80px;
	padding-top: 15px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.widget-left-application {
	background: #025aa5;
}

.widget-left-allocation {
	background: #30a5ff;
}

.widget-left-cancel {
	background: #EC971F;
}

.widget-left-inquiry {
	background: #449D44;
}

.widget-left-accident {
	background: #D9534F;
}

.widget-right-application, .widget-right-allocation, .widget-right-inquiry,
.widget-right-cancel, .widget-right-accident {
	text-align: left;
	vertical-align: middle;
	line-height: 1.2em;
	margin: 0px;
	padding: 20px;
	height: 80px;
	font-weight: 300;
	background: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.widget-right-application {
	color:#025aa5;
}

.widget-right-allocation {
	color: #30a5ff;
}

.widget-right-cancel {
	color: #EC971F;
}

.widget-right-inquiry {
	color: #449D44;
}

.widget-right-accident {
	color: #D9534F;
}


.borderC-application,
.borderC-allocation,
.borderC-inquiry,
.borderC-cancel,
.borderC-accident {
	border-style: solid;
	border-width: 1px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 5px;
	margin: 0;
	}

.borderC-application {
	border-color: #025aa5;
}

.borderC-allocation{
	border-color: #30a5ff;
}

.borderC-cancel {
	border-color: #EC971F;
}

.borderC-inquiry {
	border-color: #449D44;
}

.borderC-accident {
	border-color: #D9534F;
}

div>p {
	display: block;
	position: relative;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	vertical-align: middle;
	vertical-align: middle;
	margin: 0;
}

.margin-top-bottom {
	margin-top: 30px;
	margin-bottom: 30px;
}

#header {
	background-color: gray;
	top: 0;
	width: 100%;
	height: 100px;
}
.header{
		background-color: gray;
}

.header-icon{
	margin-top:2vh;
}

#footer {
	  position: absolute;
	line-height: 100px;
	background-color: gray;
	bottom: 0;
	width: 100%;
	height: 100px;
}

.title-row{
	margin-top:10vh;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 5em;
}


table {
margin:0 auto;
}